@font-face {
    font-family: "fuente1";
    src: url(fuentes/Gravity-Light.otf);
}

@font-face {
    font-family: "fuente1b";
    src: url("fuentes/Gravity-Book.otf");
}

@font-face {
    font-family: "KarenEspada";
    src: url("fuentes/Ruthligos.ttf");
}

@keyframes shadow {
    0% {
        box-shadow: 0 0 0 0 transparent;
    }

    100% {
        box-shadow: 0 0 20px 0 rgba(255, 247, 9, 0.35);
    }
}

@keyframes links {
    0% {
        transform-origin: 50% 50%;
    }

    100% {
        transform-origin: 50% 50%;
        text-shadow: 3px 3px 4px rgba(255, 247, 9, 0.35);
        ;
    }
}

/* Estilo común a todas las páginas */

* {
    font-family: "fuente1";
    color: rgb(227, 227, 227);
}

body {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    background-color: #642d27;
    min-width: 255px;
}

.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 95%;
    height: 100%;
    background-color: #33573ac4;
    align-items: center;
}

.flex-item {
    width: 98%;
    display: flex;
    flex-flow: column wrap;
    height: 100%;
    border-radius: 0.3rem;
}

.hache-uno{
    height: fit-content;
    width: 98%;
    font-size: 1.5em;
    margin: 1rem 2rem;
    letter-spacing: 0.1em;
}

/* Estilo del header (todas las páginas) */

header {
    justify-content: flex-end;
    align-items: flex-end;
    background-image: url("fotos-tpo/portadas/fondo1.jpg");
    background-position: center;
    background-size: 100vw;
    background-repeat: no-repeat;
    margin: 0.2rem 0.7rem;
}


#encabezado {
    width: 100%;
    font-size: 0.8rem;
    text-align: center;
    
}

#titulo {
    font-family: "KarenEspada";
    color: black;
    font-size: 2rem;
    margin-bottom: 0px;
}

#subtitulo {
    margin-top: 0px;
    color: black;
    letter-spacing: 0.2rem;
}

#barra-nav {
    margin-right: 0.4rem;
    padding: 0.2rem 0rem;
    border-radius: 0.3rem 0rem / 0.3rem 0rem;
    font-size: 0.75rem;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.386);
}

.nav{
    padding: 0.2rem;
}

#inicio{
    text-shadow: 2px 2px 2px #BF2517;
    border-radius: 0.3rem 0rem 0rem 0rem / 0.3rem 0rem 0rem 0rem;
}

#acerca-de{
    text-shadow: 2px 2px 2px #F25F29;
}

#cont{
    text-shadow: 2px 2px 2px #F29A2E;
    /*text-shadow:1px 1px 3px #F7A70C;*/
}

#prensa{
   text-shadow:  2px 2px 2px #F28A2E;
   /*text-shadow: 1px 1px 3px #E06500;*/
}

#proyectos{
   text-shadow: 2px 2px 2px #3573DE;
   /*text-shadow:1px 1px 3px #F73E0C;*/
}

#donar{
  text-shadow: 2px 2px 2px #04BF55;
  /*text-shadow:1px 1px 3px #F01F33;*/
  border-radius: 0rem 0rem 0.3rem 0rem / 0rem 0rem 0.3rem 0rem;;
}

/* Estilo del footer (todas las páginas) */
footer {
    margin: 0.5rem;
    word-spacing: 1rem;
    background-color: rgba(0, 0, 0, 0.386);
    /*align-items: center;*/
}

i {
    font-size: 30px;
    margin: 0.3rem
}

a {
    text-decoration: none;
    padding-right: 0.5em;
    font-size: 1.6em;
}

/* Animaciones y transiciones (de todas lass páginas) */
#encabezado:hover {
    animation: links 0.7s ease 0s 1 normal forwards;
}

a:hover {
    animation: links 0.5s ease 0s 1 normal forwards;
}

#inicio:hover{
    background-color: #bf25176c;
}

#acerca-de:hover{
    background-color:#f25f2979;
}

#cont:hover{
    background-color: #f29a2e76;
}

#prensa:hover{
    background-color: #f2892e77;
}

#proyectos:hover{
    background-color: #3573de5d;
}

#donar:hover{
    background-color: #04bf5576;
}

.carpeta:hover {
    animation: shadow 0.2s linear 0s 1 alternate forwards;
}

a:active{
    border: dashed 0.1px rgba(0, 0, 0, 0.107);
    border-radius: 0.5rem;
    text-shadow: 3px 3px 4px rgba(255, 247, 9, 0.493);
}

.titulo-carpeta:hover{
    background-color: rgba(255, 247, 9, 0.35);
}

.boton:hover{
    box-shadow: 2px 2px 5px rgb(255, 182, 64);
    height: 2.2rem;
    width: 7.2rem;
}


/* ESTILOS DE MAIN POR PÁGINA */

/* Estilo del index main */
#main-index {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.carpeta {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 48%;
    min-width:300px;
    height: 50vh;
    border: 2px solid rgba(0, 0, 0, 0.66);
    border-radius: 0.5rem;
    margin: 0.2rem;
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
    text-shadow: 2px 2px 2px black;
    text-align: right;
    padding: 0px;
    background-size: cover;
}

.titulo-carpeta{
    border-radius: 0.3rem 0rem / 0.3rem 0rem;
    background-color: rgba(0, 0, 0, 0.386);
    padding: 0rem 0.2rem;
}


#mi-cuerpo {
    background-image: url("fotos-tpo/portadas/pau.jpeg");
    background-position: right;
}

#naturaleza {
   background-image: url("fotos-tpo/portadas/pacha.jpeg");
   background-position:  right bottom;
}

#random {
   background-image: url("fotos-tpo/portadas/jess1.jpeg");
   background-position: center;
}

#entrepieles {
    background-image: url("fotos-tpo/portadas/manos.jpeg");
    background-position: top;
}

#expo {
   background-image: url("fotos-tpo/portadas/kar.jpg");
   background-position: left;
}

/*estilos por cada album*/

img{
    width: 100%;
}

.row{
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
}

.column{
    flex: 25%;
    padding: 5px;
    min-width: 300px;
}

.column img{
    margin-top: 5px;
}

.galeria{
    display: flex;
    margin: 0.7rem 0.7rem !important;
    align-items: center !important;
    align-content: center !important;
}

/*mi cuerpo mi territorio*/

.prologo{
    padding: 0.5rem;
    height: 40vh;
    overflow-y: scroll;
    width: 95%;
    background-color: rgba(0, 0, 0, 0.196);
}

.prologo::-webkit-scrollbar {
    width: 0.5em;
  }
   
  .prologo::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(231, 238, 31, 0.402);
  }
   
  .prologo::-webkit-scrollbar-thumb {
    background-color: rgb(255, 182, 64);
  }

h4{
    margin-top: 0.2rem;
    margin-bottom: 0px;
}

/* Naturaleza */


/*expo*/

/* entrepieles */

#main-entrepieles{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

#parrafo-entrepieles{
    margin: 1rem 6rem 1rem 1rem;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.386);
}

#nuestro-cuerpo {
    background-image: url("fotos-tpo/portadas/muslo1.jpeg");
    background-position: left;
    width: 55%;
    height: 50vh;
}

/* Estilo página de contacto */
.main-contacto {
    margin: 1rem;
}

#contacto {
    display: flex;
    flex-flow: column wrap;
}

form{
    width: 80vw;
}

input{
    width: 15rem;
    height: 1.5rem;
    font-size: 1rem;
    color: black;
}

textarea{
    font-size: 1rem;
    color: black;
}

.msjerror{
    color: rgb(255, 182, 64);
}

.boton {
    font-family: "fuente1b";
    color: rgb(255, 157, 0);
    text-shadow: 1px 1px 1px gray;
    background-image: url(fotos-tpo/mi-cuerpo/manos.jpeg);
    background-size: cover;
    background-position: bottom;
    font-size: 1.2rem;  
    border: 0.5px solid black;
    border-radius: 0.2rem;
    height: 2rem;
    width: 7rem;
}

/* Estilo página "sobre mi" */

#sobremi {
    margin: 0.5rem;
    letter-spacing: 0.1em;
 
}

#sobrela{
    margin: 0.5rem 3rem;
}

#kar{
    min-width: 5rem;
    max-width: 17trem;
    float: left;
    padding-right: 0.5rem;
}


.parrafo{
    background-color: rgba(0, 0, 0, 0.386);
    padding: 1rem;
    margin: 1rem;
    letter-spacing: 0.05px;
    -webkit-column-count: 2; /*Chrome, Safari, Opera*/
    -moz-column-count: 2; /*Firefox*/
    column-count: 2;
}

p{
    margin: 0px;
}

/* Estilo pagina "prensa"*/
#main-prensa{
    margin: 0.5rem;
    display: flex;
    flex-flow: column wrap;
}

#main-prensa a{
    text-decoration: 1px underline;
    font-size: 0.9rem;
}

#main-prensa iframe{
    width: 90%;
    height: 60vh;
    border-radius: 0.5rem;
    margin: 1rem;
}

/* Estilo página Cafecito */

#main-cafecito{
    margin-left: 1rem;
    display: flex;
}

#parrafo-cafe{
    width: 95%;
}

#cafecitos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 98%;
    margin: 5rem 0.5rem;
}

.caf{
    color: #592115;
    padding: 1rem;
    width: 15rem;
    text-align: center;
    border-radius: 0.3rem;
    margin: 0.5rem;
}

#cafe-comun{
    background-color: #D9D2B0;
}

#cafe-con-leche{
    background-color: #F28E13;
}

#capuccino{
    background-color: #F25D27;
}

/* estilo para pantallas mas chicas*/

/* Adaptacion tablet */
@media screen and (max-width:1122px) and (min-width:379px) {
   
    .flex-container{
        width: 95%;
        justify-content: center;
        align-items: center;
    }

    #encabezado{
        text-shadow: 1px 1px 4px rgb(255, 255, 255);
    }

    #subtitulo{
        color: yellow;
    }

    .parrafo {
        font-size: 1rem;
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
    }

    #parrafo-entrepieles{
        margin-right: 1rem;
    }

    #contacto{
        margin: 0.2rem;
        justify-content: center;
        align-items: center;
    }

     form{
       font-size: 10px;
    }

    fieldset{
        width: 100%;
    }

    label{
       font-size: 15px;
       width: 100%;
    }

    textarea{
       width: 70%;
       min-width: 300px;
    }

    #cafecitos{
        flex-direction: column;
        align-items: center;
    }
}


/* Adaptacion smartphone */
@media screen and (max-width:411px) and (min-width:56px){

    .flex-container{
        width: 95%;
        height: 100%;
        justify-content: center;
        align-items: center;
    }

    #encabezado{
        text-shadow: 1px 1px 4px rgb(255, 255, 255);
    }

    #barra-nav{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        border-radius: 0.3rem;
        width: 100%;
    }

    .carpeta{
        width: 90%;
    }

    .hache-uno{
        text-align: center;
        width: fit-content;
    }

    #sobremi{
        justify-content: center;
        align-items: center;
    }

    .parrafo {
        font-size: 1rem;
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
        width: 90%;
        margin: 0px;
    }

    #kar{
        width: 90%;
    }

    #contacto{
        margin: 0.2rem;
        justify-content: center;
        align-items: center;
    }

    form{
        font-size: 10px;
     }
 
     fieldset{
         width: fit-content;
     }
 
     label{
        font-size: 15px;
        width: 100%;
     }
 
     textarea{
        width: 95%;
     }

     #cafecitos{
         margin: 1rem 0.5rem;
     }

     footer{
         align-items: center;
     }
}




